body{
    background-color: #58b1e7;
}

#clock{
    color: #ffffff;
    font-size: 125px;
    background-color: #000000;
    padding: 0.5em 0em;

    width: 80%;
    margin: 0px auto;
    font-family: Helvetica;
    text-align: center;

}

#banner{
    color: #fefefe;
    font-size: 150%;
    text-align: left;
    background-color: #eb6c52;

    width: 80%;
    margin: 10% auto 0%;
    font-family: Helvetica;
    text-transform: uppercase ;
}

span{
    margin-left: 175px;
}